#profileContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#profileTile {
    width: 70%;
    height: 150vh;
    background-color: white;
    margin-top: 6vh;
    margin-bottom: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#fieldsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin-top: 4vh;
}

.fieldsCol {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#missionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    margin-top: 2vh;
}

#mission {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #059EC5;
    font-size: small;
    font-weight: 100;
    font-style: normal;
}

.input {
    border-radius: 5px;
    border-width: 1px;
    border-color: #e4e1e1;
    margin-top: 1vh;
}

.input:focus {
    outline: #059EC5;
}

#profile-h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.fieldLabel {
    font-size: 12px;
    font-weight: 100;
}