.signUpHeader {
display: flex;
justify-content: space-between;
height: 100px;
background-color: #FFFFFF
}

.cshHeader {
    height: 100px;
    width: 330px;
    background-image: url("./images/CSH_Logo.png");
    background-size: cover;
}

.hyperLink {
    margin: 10px;
}

.containerH, .containerH2 {
display: flex;
align-items: center;
width: 40%;
background-color: #FFFFFF;
}

.containerH2 {
    justify-content: flex-end
}

.signUpButton {
    height: 30px;
    width: 100px;
}

.long {
    margin-top: 20px;
    border-radius: 18px;
    height: 50px;
    width: 80%;
    
}

.signUpButton, .long {
    background-color: #059EC5;
    border-style: solid;
    border-color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #ffffff;
}



.signUpButton:hover, .long:hover {
    background-color: #989898;
}


.mainSignUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-image: url('./images/cs-signup.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}

.label, .np, label, .hyperLink {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

label {
    font-size: smaller;
}

.np {
    color: #ffffff;
    
}

a, .login {
    color: #059EC5;
}

.forms {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98%;
    width: 40%;
    background-color: whitesmoke;
    opacity: 0.9;
}

.forms2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: 40%;
    background-color: whitesmoke;
    opacity: 0.9;
}

.form {
    margin: 10px;
    width: 80%;
}

input {
    border-radius: 18px;
    background: #ffffff;
    padding: 10px; 
    width: 90%;
    height: 15px; 
}


